* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: linear-gradient(to right, #70cd63, #25ab79);
}

.myMain {
    display: flex;
    justify-content: space-around;
}

.modalButton {
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    margin-top: 50px;
}

.overlay {
    background-color: black;
    position: absolute;
    /* height: 500px; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
}

.hidden {
    display: none;
}

.modal {
    position: relative;
    height: 50%;
    width: 50%;
    background-color: white;
    border-radius: 20px;
    padding: 50px 20px;
    margin: 50px auto 0 auto;
    z-index: 2;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    margin: 10px;
}