* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main {
    height: 100vh;
    width: 100vw;
}

#chatArea {
    background-color: #4a1e4f;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    padding: 20px;
}

#textArea {
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    background-color: black;
    color: #729de9;
    display: flex;
    padding: 10px 30px;
    border-radius: 50px;
    margin: 0 300px;
    justify-content: space-between;
}

#textArea input {
    background: transparent;
    border: none;
    color: white;
    width: 90%;
    color: #729de9;
}

#textArea input:focus {
    outline: none;
}

#textArea input::placeholder {
    color: #403642;
}

.avatar img {
    object-fit: contain;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


.avatarUser {
    order: 2;
}

.firstArea {
    display: flex;
    align-items: flex-end;
}

.textBox {
    background-color: #6aa1f0;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
}

.textBoxLeft {
    color: #00205f;
    border-bottom-left-radius: 0;
}

.textBoxRight {
    color: #006b35;
    border-bottom-right-radius: 0;
}

.chatBoxUser {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.chatBoxClient {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}

.name {
    position: absolute;
    bottom: -20px;
    color: #baaed0;
    font-size: 15px;
}


/* Smartphones */
@media only screen and (max-width: 500px) {
    body {
        background: red;
    }

    #chatArea {
        width: 100%;
    }

    .chatBoxUser {
        margin-bottom: 100px;
    }

    .chatBoxClient {
        margin-bottom: 100px;
    }

    #smartphone h1 {
        display: block;
    }
}

/* Tablet */
@media(min-width: 501px) and (max-width: 768px) {
    body {
        background: blue;
    }

    #chatArea {
        width: 100%;
    }

    #tablet h1 {
        display: block;
    }
}

/* Normal */
@media(min-width: 769px) and (max-width: 1200px) {
    body {
        background: green;
    }

    #chatArea {
        width: 100%;
    }

    #normal h1 {
        display: block;
    }
}

/* Widescreen */
@media(min-width: 1201px) {
    body {
        background: black;
    }

    #widescreen h1 {
        display: block;
    }
}

/* Meri Query */
@media(max-width: 900px) {
    #textArea {
        margin: 0 100px;
    }
}

/* Landscape */
@media(max-height: 500px) {
    body {
        background: orange;
    }

    #landscape h1 {
        display: block;
    }

}